@font-face {
    font-family: 'Pixeloid Sans';
    src: url('fonts/PixeloidSans-nR3g1.ttf');
}

.label {
    -fx-font-family: "Pixeloid Sans";
    -fx-font-size: 15;
}

.instruction {
    -fx-font-family: "Pixeloid Sans";
    -fx-font-size: 15;
}

.current-char {
    -fx-font-family: "Pixeloid Sans";
    -fx-font-size: 15;
}

.center-border {
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

.right-border, .left-border {
    -fx-background-image: url("menu.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 200 600;
    -fx-background-position: center center;
}

.healthbar {
    -fx-font-family: "Pixeloid Sans";
    -fx-font-size: 14;
}

.action-output {
    -fx-font-family: "Pixeloid Sans";
    -fx-font-size: 15;
}